$green: #7DFB64;
$blue: #46dced;
$gray: #e2e2e2;
$background-gray: #f3f3f3;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100vw;
  height: 100vh;
  font-family: Quicksand, sans-serif;
  background-color: $background-gray;
  font-size: 16px;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
}