

.game-header {
  display: grid;
  place-items: center;

  .banner {
    width: 100%;
    background: #46dced;
    background: linear-gradient(77deg, #46dced 0%, #7dfb64 100%);
    color: white;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: center;
  }

  .gamestate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .action {
      color: #4e4e4e;
      font-size: 1.5rem;
    }

    .score {
      font-size: 2rem;

      &.-x{
        color: #46dced;
      }

      &.-o{
        color: #7dfb64;
      }
    }
  }
}